<div class="ui   grid" *ngIf="location">
  <div class="sixteen wide column">
    <div class="item">
      <div class="content">
        <h1 class="ui header">{{ location.name }}</h1>
        <div class="meta">
          <span class="loc"> {{ location.street }} </span> <br>
          <span class="loc"> {{location.zipcode}}-{{ location.city }} </span>


        </div>
        <div class="description">
          <h4 class="ui subheader"> Verfügbare Impftermine in {{location.name}}:</h4>


        </div>
      </div>

    </div>
    <br><br>
    <a routerLink=".." class="ui tiny green labeled icon button"><i class="arrow left icon"></i>Zurück zur
      LocationListe</a>
    <a *ngIf="authService.isLoggedIn()" class="ui tiny red labeled icon button" (click)="removeLocation()">
      <i class="remove icon"></i> Impfort löschen
    </a>

    <a *ngIf="authService.isLoggedIn() && loggedInUser?.isAdmin == true" class="ui tiny blue labeled icon button"
      [routerLink]="['../../local-admin', location?.id]">
      <i class="write icon"></i> Importort bearbeiten
    </a>
  </div>


  <div>
    <h3 class="ui subheader">
      <i class="angle right icon"></i>Imptermine in {{location.name}}, {{location.city}}:
    </h3>
    <table class="ui five column table">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Von</th>
          <th>Bis</th>
          <th>Verfügbare Impfungen</th>
          <th></th>



        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vac of location.vaccinations; last as l">

          <td>{{vac.date}}</td>
          <td>{{vac.startTime}}</td>
          <td>{{vac.endTime}}</td>
          <td> {{vac.maxUsers}}</td>
          <td>   <a  [routerLink]="['../../vaccinations', vac?.id]"
                  ><i class="circular chevron right icon"></i> Hier anmelden </a></td>





        </tr>

      </tbody>
      <tfoot>
        <tr>
          <th>Am Standort {{location.name}} gibt es aktuell {{location.vaccinations?.length}} Impftermine.</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>


        </tr>
      </tfoot>
    </table>
  </div>
  <br><br>

</div>