<h1>User Registrierung</h1>
<form class="ui large form" [formGroup]="userForm" (ngSubmit)="submitForm()">
  <input type="hidden" name="id" />
  <input type="hidden" name="vaccination_id"/>

  <!-- <div class="field" [class.disabled]="">
    <label>Id</label>
    <input formControlName="id" />
    <div *ngIf="errors.isbn" class="ui negative message">{{ errors.isbn }}</div>
  </div> -->
  <div class="field">
    <label>Vorname</label>
    <input  formControlName="firstName" />
  </div>
  <div class="field">
    <label>Nachname</label>
    <input  formControlName="lastName" />
  </div>
  <div class="field">
    <label>SSN</label>
    <input formControlName="ssn" />
  </div>
  <div class="field">
    <label>Email</label>
    <input type="email" formControlName="email" />
  </div>
  <div class="field">
    <label>Telefonnummer</label>
    <input formControlName="phone" />
  </div>



  
  <div *ngIf="isLoggedIn()" class="field">
    <label>Person geimpft:</label>
    <select class="ui dropdown" formControlName="isVaccinated">
      <option  value="1">Ja</option>
      <option selected="selected" value="0">nein</option>
    </select>
  </div>

  <div class="field">
    <label>Geschlecht</label>
    <select class="ui dropdown" formControlName="sex">
      <option  value="m">männlich</option>
      <option  value="w">weiblich</option>
      <option  value="d">divers</option>
    </select>
  </div>



  <!--Buttons-->
  <button
    *ngIf="isUpdatingUser"
    type="submit"
    class="ui button"
    [disabled]="userForm.invalid"
  >
    User ändern
  </button>
  <button
    *ngIf="!isUpdatingUser"
    type="submit"
    class="ui button"
    [disabled]="userForm.invalid"
  >
    User speichern
  </button>
  <!-- <button type="submit" class="ui button"
[disabled]="vaccinationForm.invalid">Speichern</button> -->
</form>